*.suo
*.user
*.userosscache
*.sln.docstates

*.exe
*.dll
*.xml
*.exe.config
*.pdb
*.ldf

/.vs/

[Oo]bj/
[Rr]elease/
[Rr]eleases/
[Ll]og/
[Pp]ackages/
[Bb]in/
[Dd]ebug/

built/
node_modules/
SpotThePlaylist.Web/wwwroot/dist/
/SpotThePlaylist.Web/package-lock.json
.idea/
*.js.map
*.js
